<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>註冊</title>
</head>

<style>
    * {
        font: 22px  'Times New Roman';
        /* font-weight: bold; */
        /* text-align: center; */
        line-height: 46px;
    }
</style>

<body>

<h1> -- 數位價目表 Menu設定 -- </h1>

<form action="/user/reg" method="POST">
    <P>
        帳號：<input type="text" name="username">
    </P>
    <P>
        密碼：<input type="text" name="password_1">
    </P>
    <P>
        再次輸入密碼：<input type="text" name="password_2">
    </P>
    <P>
        <input type="submit" value="註冊">
    </P>

</form>
</body>
</html>