<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>B_add_item</title>
</head>

<style>
    *{
        font: 24px  'Times New Roman';
    }
</style>

<body>
<form action="" method="POST">
    <h3>  (B區)商品設定- 新增 --  </h3> 
    <P>
        顯示區位:<input type="text" name="title" >
    </P>
    <P>
        POS編碼:<input type="text" name="plu">
    </P>
    <P>
        產品名稱:<input type="text" name="name">
    </P>
    <P>
        圖片位置:<input type="text" name="content">
    </P>
    <P>
        最新價格:<input type="text" name="price">
    </P>
    <P>
        售完(True):<input type="text" name="saleout">
    </P>
    <p>
        <input type="submit" value="儲存">
    </p>
        <!-- 頁碼：<textarea cols="32" rows="1" name="note_path"> {{ get_path }} </textarea> -->
</form>
</body>
</html>