<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A_add_item</title>
</head>

<style>
    *{
        font: 24px  'Times New Roman';
    }
</style>

<body>
<form action="" method="POST">
    <h3> (門市)資料設定- 新增 -- </h3> 
    <P>
        店名:<input type="text" name="store_name" >
    </P>
    <P>
        電話:<input type="text" name="store_tel">
    </P>
    <p>
        <input type="submit" value="儲存">
    </p>
        <!-- 頁碼：<textarea cols="32" rows="1" name="note_path"> {{ get_path }} </textarea> -->
</form>
</body>
</html>