<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>B_modify_item</title>
</head>

<style>
    *{
        font: 24px  'Times New Roman';
    }
</style>

<body>
    <h3>(B區)商品設定- 修改 -- </h3> 
    
    <!-- <form action="/note/1" method="POST"> -->
    <form action="{{ note.id }}" method="POST">
        <P>
            顯示區位:<input type="text" name="title" value="{{ item.title }}" ></input>
        </P>
        <P>
            POS編碼:<input  type="text" name="plu"  value="{{ item.plu }}"></input>
        </P>
        <P>
            產品名稱:<input  type="text" name="name"  value="{{ item.name }}"></input>
        </P>
        <P>
            圖片位置:<input  type="text" name="content"  value="{{ item.content }}"></input>
        </P>
        <P>
            最新價格:<input  type="text" name="price"  value="{{ item.price }}"></input>
        </P>
        <P>
            售完(True):<input  type="text" name="saleout"  value=""></input>
        </P>
        <p>
            <input type="submit" value="儲存">
        </p>
            <!-- 頁碼：<textarea cols="32" rows="1" name="note_path"> {{ get_path }} </textarea> -->
    </form>
</body>
</html>